<template>
  <v-container fluid>
    <v-layout justify-center>
      <span class="title" v-if="hotelTitle">{{ this.confirmedMessage }}</span>
      <v-progress-circular indeterminate v-else/>
    </v-layout>
  </v-container>
</template>

<script>
  import { mapGetters, mapMutations, mapState } from 'vuex'
  export default {
    created () {
      this.selectHotel(this.hotelId)
    },
    computed: {
      ...mapGetters(['getHotelById']),
      confirmedMessage () {
        return `Thank you for using our service. Your booking at the hotel "${this.hotelTitle}" is confirmed`
      },
      hotelTitle () {
        const hotel = this.getHotelById(this.hotelId)
        return hotel ? hotel.title : ''
      }
    },
    methods: {
      ...mapMutations(['selectHotel']),
    },
    name: 'HotelDetails',
    props: ['hotelId']
  }
</script>
