<template>
  <v-container fluid>
    <v-layout justify-center>
      <v-form>
        <v-card>
          <v-toolbar>
            <v-toolbar-title>Hotels</v-toolbar-title>
          </v-toolbar>
          <v-list subheader>
            <v-subheader>Options</v-subheader>
            <v-list-tile avatar>
              <v-list-tile-content>
                <v-text-field :max="maxRate" label="Rate per day" min="0" solo step=".01" title="Show hotels with price lower or equal to entered" type="number" v-model="options.rateDay"/>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
          <v-divider/>
          <v-list subheader two-line>
            <v-list-tile :key="hotel.title" v-for="hotel in filteredHotels">
              <v-list-tile-content class="mr-4">
                <v-list-tile-title>{{ getHotelTitle(hotel.id) }}</v-list-tile-title>
                <v-list-tile-sub-title>
                  {{ hotel.rate.day / 100 }}
                  {{ hotel.rate.currency }}
                </v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-btn ripple :to="'/hotel/' + hotel.id">Select</v-btn>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-form>
    </v-layout>
  </v-container>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'
  export default {
    computed: {
      ...mapGetters(['getHotelById']),
      ...mapState(['hotels', 'selectedHotelId']),
      filteredHotels () {
        return this.hotels.filter(v => v.rate.day <= this.options.rateDay * 100)
      }
    },
    data () {
      return {
        maxRate: 2 ** 31 - 1,
        options: {
          rateDay: 14999 / 100
        }
      }
    },
    methods: {
      getHotelTitle (id) {
        return `${this.getHotelById(id).title} ${id === this.selectedHotelId ? '- current choice' : ''}`
      }
    },
    name: 'HotelList'
  }
</script>
