<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title @click="navigateToIndex" class="headline text-uppercase">
        Hotel <span class="font-weight-light">reservation service</span>
      </v-toolbar-title>
      <v-spacer/>
      <v-btn href="https://gitlab.com/graycraft/hotel-service-mockup" icon rel="noopener" target="_blank" title="Go to the project repository">
        <v-icon size="32">open_in_new</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
  import { mapActions } from 'vuex'
  export default {
    created () {
      this.fetchHotels()
    },
    methods: {
      ...mapActions(['fetchHotels']),
      navigateToIndex () {
        this.$router.push('/')
      }
    },
    name: 'App'
  }
</script>

<style lang="stylus" scoped>
  .v-toolbar__title
    cursor pointer
</style>
